<div id="fullscreen_bg" class="fullscreen_bg"/>
<ul class="nav navbar-nav navbar-right">
<% if user_signed_in? %>

<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
<% else %>
<li><%= link_to "Register", new_user_registration_path %></li>
<li><%= link_to "Login", new_user_session_path %></li>
<% end %>
</ul>
<div class="container">

	<form class="form-signin">
	<h1 class="form-signin-heading text-muted">readrr</h1>
		<input type="text" class="form-control" placeholder="URL" required="" autofocus="">
		<button class="btn btn-lg btn-danger btn-block" type="submit">
			read it!
		</button>
		<button class="btn btn-sm btn-default btn-block" type="submit">
			black
		</button>
		<button class="btn btn-sm btn-info btn-block" type="submit">
			gayify
		</button>
		<button class="btn btn-sm btn-primary btn-block" type="submit">
			republify
		</button>
	<div class="radio">
	<label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
    200
  </label>
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    250
  </label>
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
    300
  </label>
</div>
<div class="row">
    <div class="col-lg col-centered">
    	<div class="readable">
    	</div>
    	
    </div>
        <div class="row">
    <div class="span1"<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Pause</button>
  <button type="button" class="btn btn-default">Resume</button>
</div>
 </div>


</div>
	</form>
	



</div>