<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">
	<form class="form-signin">
	<h1 id="main_font" class="form-signin-heading text-muted">readrr</h1>

	<%= link_to "Read in color", new_website_path, class: 'btn btn-danger btn-lg'%>
	<%= link_to "Logout", destroy_user_session_path, method: :delete , class: 'btn btn-danger btn-lg'%>

		
	</form>



</div>